<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="container" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Login</h1>
        <form action="/user/login" method="POST">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Email"><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <div class="submit" style="display: flex; justify-content: center; align-items: center;">
                <input type="submit" value="Login">
            </div>
        </form>
        <br><br>
        No account yet? <a href="http://127.0.0.1:5000/user/register">Register now!</a>
    </div>
</body>
</html>